/* Globals */
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #3498db;
  --main-font: "Ubuntu", serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.inactive {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background: rgb(143, 185, 168);
  background: linear-gradient(
    180deg,
    rgba(143, 185, 168, 1) 0%,
    rgba(254, 250, 212, 1) 25%,
    rgba(252, 208, 186, 1) 50%,
    rgba(241, 130, 141, 1) 75%,
    rgba(118, 93, 105, 1) 100%
  );
}

.container {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* Head */

.head a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--black);
}

.head img {
  width: 8rem;
  height: 8rem;
}

.head h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.head span {
  font-weight: normal;
}

/* Nav */
nav {
  margin: 1rem 1rem 1rem 0;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
}

nav a img {
  width: 3.5rem;
}

/* Bar */
.bar {
  border: 1px solid var(--black);
  border-radius: 5rem;
  width: 100%;
  height: 5rem;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar .search,
.bar .menu {
  width: 2.8rem;
  margin: 0 1.6rem;
}
.bar .backspace {
  width: 2.8rem;
}

.bar input {
  width: 100%;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
}

.bar input:focus {
  outline: none;
}

/* Content */
.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.card .gif {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.card .creator {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.creator {
  display: flex;
  align-items: center;
}

.creator img {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.creator p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
}

footer {
  font-size: 1.5rem;
  color: var(--black);
  margin: 1rem 0;
}
